<div class="grid grid-cols-12 gap-4">
  <!-- Primera fila: 12 columnas -->
  <div class="col-span-12 bg-blue-200">
    <img src="https://www.libreriadelprado.com/img/cms/libreriadelprado-quienes-somos-apaisada.png" alt="Libreria"
      class="w-full p-4">
  </div>

  <!-- Segunda fila: 12 columnas -->
  <div class="col-span-12 bg-blue-200 text-center">
    <h1 class="text-3xl font-semibold">
      Bienvenidos a la Plataforma de Autores y Libros más Completa
    </h1>
    <p class="text-lg italic">
      El lugar donde las historias cobran vida. Registra, organiza y comparte tus obras literarias con el mundo.
    </p>
  </div>

  <!-- Tercera fila en adelante: 6 columnas -->
  <div class="col-span-12 md:col-span-6 bg-red-200 p-6">
    <h3 class="text-2xl">
      Tu Portal Literario Definitivo
    </h3>
    <p class="text-lg mb-5">
      En AutorLibro, hemos creado un espacio único para que autores y lectores se conecten a través de sus
      obras. Registra tus libros, gestiona tu biblioteca personal y accede a una comunidad apasionada por la literatura.
    </p>
    <span class="text-lg italic">
      ¿Por qué elegir AutorLibro?
    </span>
    <ul>
      <li>
        <strong>Explora Universos Inexplorados:</strong> Sumérgete en una vasta biblioteca que va más allá de los
        bestsellers. Conoce autores emergentes y sus obras innovadoras, encuentra joyas escondidas que te sorprenderán.
      </li>
      <li>
        <strong>Crea Tu Propia Biblioteca Personalizada:</strong> Registra tus libros favoritos, organiza tus lecturas
        pendientes y comparte tus recomendaciones con amigos. Tu biblioteca será tan única como tus gustos literarios.
      </li>
      <li>
        <strong>Interactividad y Comunidad:</strong> Únete a una comunidad apasionada por la lectura y el intercambio de
        ideas. Participa en discusiones, reseñas y eventos literarios que te mantendrán conectado con el mundo de los
        libros.
      </li>
      <li>
        <strong>Características Innovadoras:</strong> Experimenta nuestras herramientas de recomendación basadas en
        inteligencia artificial, que sugieren lecturas personalizadas según tus intereses y hábitos de lectura.
      </li>
    </ul>
  </div>
  <div class="col-span-12 md:col-span-6 bg-red-200">
    <img
      src="https://static.wixstatic.com/media/b31d161c2d5b4abf8c9d06c62e5fe2ff.jpg/v1/fill/w_640,h_426,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/b31d161c2d5b4abf8c9d06c62e5fe2ff.jpg"
      alt="" class="w-full">
  </div>
</div>