<div class="flex flex-col items-center min-h-screen bg-gray-100 p-4">
	<h1 class="text-3xl md:text-4xl font-bold mb-6">Buscar Autor</h1>
   <div class="grid grid-cols-2 gap-2 text-center mb-8">
      <div class="bg-white p-2 rounded-md">
         <span>Buscar por ID</span>
         <input type="number" placeholder="ID" class="w-full p-2 mr-2 my-2 border border-gray-300 rounded"
            [(ngModel)]="id">
         <button (click)="buscarById()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            <i class="bi bi-search"></i>
         </button>
      </div>
      <div class="bg-white p-2 rounded-md">
         <span>Buscar por DNI</span>
         <input type="number" placeholder="DNI" class="w-full p-2 mr-2 my-2 border border-gray-300 rounded"
            [(ngModel)]="dni">
         <button (click)="buscarByDni()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            <i class="bi bi-search"></i>
         </button>
      </div>
   </div>
	<div class="w-full max-w-5xl bg-white rounded-lg shadow-lg overflow-x-auto">
		<table class="w-full">
			<thead class="bg-blue-500 text-white">
				<tr>
					<th class="px-4 py-2 text-left font-medium">Nombre</th>
					<th class="px-4 py-2 text-left font-medium">Apellido</th>
					<th class="px-4 py-2 text-left font-medium">DNI</th>
					<th class="px-4 py-2 text-left font-medium">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr class="hover:bg-gray-100">
					<td class="px-4 py-3">{{ autor.nombre }}</td>
					<td class="px-4 py-3">{{ autor.apellido }}</td>
					<td class="px-4 py-3">{{ autor.dni }}</td>
					<td class="px-4 py-3 flex space-x-2">
						<button (click)="startEditing()" class="text-blue-500 hover:text-blue-700">
							<i class="bi bi-pencil"></i>
						</button>
						<button (click)="deleteAutor(autor)" class="text-red-500 hover:text-red-700">
							<i class="bi bi-trash"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

@if(editingAutor) {
   <app-editar-autor [autor]="editingAutor" (cancelEdit)="cancelEdit()" (autorUpdated)="onAutorUpdated($event)"></app-editar-autor>
}